[Unit]
Description=flameglow data collection agent
After=syslog.target network.target

[Service]
Type=simple
User=username
StandardOutput=null
WorkingDirectory=/home/username/flameglow/scripts
ExecStart=/home/username/flameglow/scripts/flameglow.py

[Install]
WantedBy=multi-user.target

